$POINT_LINE_HEIGHT: 24*$PX;

@define-mixin pointLine {
  position:       relative;
  min-height:     $POINT_LINE_HEIGHT;
  cursor:         pointer;
  color:          white;
  font-size:      9*$FPX;
  letter-spacing: .5*$PX;
  line-height:    $POINT_LINE_HEIGHT;
  background:     var(--mojs-color-purple);
  border-top:     1*$PX solid var(--mojs-color-light-purple);

  &.is-check {
    background: var(--mojs-color-white);
    color:      $c-purple
  }
}
